
  <div>
    <h1 class="text-[#636363] font-semibold text-[32px] leading-10 text-center"><% if(item.id){ %>Ubah Product<% } else{ %>Tambah Product<% } %></h1>
    <form class="max-w-xl px-4 md:px-0 mx-auto" action="<% if(item.id){ %>/admin/edit-product/<%= item.id %><% } else{ %>/admin/add-product<% } %>" method="post" enctype="multipart/form-data">
      <div class="flex flex-wrap mb-6">
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label class="block tracking-wide text-[#828282] text-lg font-semibold mb-3" for="nameproduct">
            Nama Product
          </label>
          <input 
            class="appearance-none block w-full bg-gray-200 text-gray-700 border-2 border-[#C5C5C5] rounded-xl py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" 
            id="nameproduct" 
            type="text" 
            name="product"
            value="<%= item.product || '' %>"
            placeholder="Nama Product"
          >
        </div>
        <div class="w-full md:w-1/2 px-3">
          <label class="block tracking-wide text-[#828282] text-lg font-semibold mb-3">
            Harga Product
          </label>
          <input 
            class="appearance-none block w-full bg-gray-200 text-gray-700 border-2 border-[#C5C5C5] rounded-xl py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" 
            id="price"
            type="number"
            name="price"
            value="<%= item.price || '' %>" 
            placeholder="Harga Product"
          >
        </div>
      </div>

      <!-- Deskripsi -->
      <div class="flex flex-col flex-wrap mb-6 w-full px-3">
        <label class="block tracking-wide text-[#828282] text-lg font-semibold mb-3" for="description">
          Deskripsi
        </label>
        <textarea 
          class="appearance-none block w-full bg-gray-200 text-gray-700 border-2 border-[#C5C5C5] rounded-xl py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" 
          id="description"
          name="description"
          placeholder="Deskripsi"
        ><%= item.description %></textarea>
      </div>
      <div class="flex flex-col flex-wrap mb-6 w-full px-3">  
        <label class="block tracking-wide text-[#828282] text-lg font-semibold mb-3" for="uploadImage">
          Gambar
        </label>
        <div class="<% if(isEdit && !deleteImage) { %>w-full h-full relative p-2<% } else { %>w-32 h-32 py-3 px-4<% } %> border-2 border-[#C5C5C5] rounded-xl relative" id="container-img">
          <div class="border-2 rounded-xl p-1 border-dotted border-[#737373] w-full h-full flex justify-center items-center" >
            <label for="uploadImage" class="<% if(isEdit && !deleteImage) { %>hidden<% } else { %>block<% } %>">
              <img src="/assets/add-file-icon.png" class="cursor-pointer" />
            </label>
            <input 
              accept=".jpg,.jpeg,.png,.gif" 
              class="appearance-none w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 hidden" 
              type="file"
              name="image"
              value="<%= item.img || '' %>"
              id="uploadImage"
              onchange="PreviewImage()"
            >
            <img id="uploadPreview" class="<% if(item.id && !deleteImage) { %>w-full h-full<% } else { %>hidden<% } %>" src="<% if(item.id && isEdit && !deleteImage){ %>/<%= item.img || '' %><% } else{ %>#<% } %>" />
          </div>
          <img id="removeImg" class="<% if(isEdit) { %>absolute h-8 w-8 top-[-12px] right-[-12px] block cursor-pointer<% } else { %>hidden<% } %>" src="/assets/remove.png" onclick="toggle_visibility('delete-image')"  />
        </div>
      </div>
      <div class="flex flex-col flex-wrap mb-6 w-full px-3">
        <label class="block tracking-wide text-[#828282] text-lg font-semibold mb-3" for="category">
          Category Product
        </label>
        <div class="relative flex justify-between items-center">
          <select 
            class="appearance-none block w-full bg-gray-200 text-gray-700 border-2 border-[#C5C5C5] rounded-xl py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" 
            id="category"
            name="category"
            onchange="onchangeSelect(this)"
          >
            <option value="">Pilih Category</option>
            <option value="makanan">Makanan</option>
            <option value="mainan">Mainan</option>
            <option value="minuman">Minuman</option>
          </select>  
          <div class="pointer-events-none absolute -translate-x-[0.5rem] -translate-y-[0.3rem] right-0 flex items-center px-2 text-gray-700">
            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
          </div>
        </div>
      </div>
      <div class="flex items-center justify-between">
      <button type="button" class="py-2 px-4 font-semibold text-lg text-[#ADA3EC] underline decoration-[#ADA3EC] rounded" onclick="toggle_visibility_cancel('cancel')">Kembali</button>
      <button type="submit" class="py-2 px-4 font-semibold text-lg bg-[#6853F0] text-white rounded-full hover:bg-blue-700 transition duration-500">
        <% if(item.id){ %>Ubah<% } else{ %>Tambahkan<% } %> 
      </button>
      </div>
    </form>
  </div>

  <!-- Pop Up Success -->
  <main class="fixed z-10 overflow-scroll top-0 w-full left-0 <% if(success){ %>block<% } else{ %>hidden<% } %>">
    <div class="flex items-center justify-center h-max pt-4 px-4 pb-20 text-center sm:block sm:p-0">
      <div class="fixed inset-0 transition-opacity overflow-scroll bg-[#111827c1]">
        <div class="absolute inset-0" />
      </div>
      <span class="hidden sm:inline-block sm:align-middle sm:h-screen">&#8203;</span>
      <div class="inline-block align-center text-left overflow-scroll transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
        <h1 class="p-9 text-center bg-[#6853F0] font-bold text-[32px] text-white rounded-lg">
          <% if (isEdit && success) { %>
            Hooray, Edit item berhasil!
            <% } else { %>
            Hooray, Tambah item berhasil!
          <% } %>
        </h1>
        <div class="flex justify-center items-center mt-5">
          <a href="/admin/list">
            <p class="font-semibold text-lg text-white">Kembali</p>
          </a>
        </div>
      </div>
    </div>
  </main>

  <!-- pop up Delete Image -->
  <main class="fixed z-10 overflow-scroll top-0 w-full left-0 hidden" id="delete-image">
    <div class="flex items-center justify-center h-max pt-4 px-4 pb-20 text-center sm:block sm:p-0">
      <div class="fixed inset-0 transition-opacity overflow-scroll bg-[#111827c1]">
        <div class="absolute inset-0" />
      </div>
      <span class="hidden sm:inline-block sm:align-middle sm:h-screen">&#8203;</span>
      <div class="inline-block align-center text-left overflow-scroll shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
        <h1 class="p-9 text-center bg-[#6853F0] font-bold text-[32px] text-white rounded-lg">Apa kamu yakin menghapus gambar?</h1>
        <form action="/admin/delete-image" method="post" class="mt-4" id="edit-cart">
          <input 
            class="hidden" 
            id="deleteIdProduct" 
            type="text" 
            name="deleteIdProduct"
            value="<%= item.id || null %>"
          >
          <input 
            class="hidden" 
            id="deleteNameproduct" 
            type="text" 
            name="deleteNameproduct"
            value="<%= item.product || '' %>"
          >
          <input 
            class="hidden" 
            id="deletePrice" 
            type="text" 
            name="deletePrice"
            value="<%= item.price || '' %>"
          >
          <input 
            class="hidden" 
            id="deleteDescription" 
            type="text" 
            name="deleteDescription"
            value="<%= item.description || '' %>"
          >
          <input 
            class="hidden" 
            id="deleteCategory" 
            type="text" 
            name="deleteCategory"
            value="<%= item.category || '' %>"
          >
          <input 
            class="hidden" 
            id="deleteImage" 
            type="text" 
            name="deleteImage"
          >
          <div class="flex justify-between items-center">
            <button type="button" class="py-2 px-4 font-semibold w-32 text-lg bg-[#6853F0] text-white rounded-full hover:bg-blue-700 transition duration-500" onclick="toggle_visibility('delete-image')">Batal</button>
            <button type="submit" class="py-2 px-4 font-semibold w-32 text-lg bg-[#6853F0] text-white rounded-full hover:bg-blue-700 transition duration-500">Hapus</button>
          </div>
        </form>
      </div>
    </div>
  </main>

  <!-- pop up Cancel -->
  <main class="fixed z-10 overflow-scroll top-0 w-full left-0 hidden" id="cancel">
    <div class="flex items-center justify-center h-max pt-4 px-4 pb-20 text-center sm:block sm:p-0">
      <div class="fixed inset-0 transition-opacity overflow-scroll bg-[#111827c1]">
        <div class="absolute inset-0" />
      </div>
      <span class="hidden sm:inline-block sm:align-middle sm:h-screen">&#8203;</span>
      <div class="inline-block align-center text-left overflow-scroll shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
        <h1 class="p-9 text-center bg-[#6853F0] font-bold text-[32px] text-white rounded-lg">Apa kamu yakin membatalkan tambah item?</h1>
        <div class="flex justify-between items-center mt-5">
          <button type="button" class="py-2 px-4 font-semibold text-lg bg-[#6853F0] text-white rounded-full hover:bg-blue-700 transition duration-500" onclick="toggle_visibility_cancel('cancel')">Batalkan</button>
          <a href="/admin/list">
            <button type="submit" class="py-2 px-4 font-semibold text-lg w-[80px] bg-[#6853F0] text-white rounded-full hover:bg-blue-700 transition duration-500">Ya</button>
          </a>
        </div>
      </div>
    </div>
  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>

    function PreviewImage() {
      const getContainerImg = document.getElementById('container-img')
      const removeImg = document.getElementById('removeImg')

      console.log('HELLO =>', '<%= item.id %>')

      document.getElementById('deleteImage').value = document?.getElementById("uploadImage")?.files?.[0]?.name
      document.getElementById('deleteNameproduct').value = document?.getElementById("nameproduct")?.value
      document.getElementById('deletePrice').value = document?.getElementById("price")?.value
      document.getElementById('deleteDescription').value = document?.getElementById("description")?.value
      
      var oFReader = new FileReader();
      oFReader.readAsDataURL(document.getElementById("uploadImage").files[0]);

      oFReader.onload = function (oFREvent) {
        document.getElementById("uploadPreview").classList = 'block';
        document.getElementById("uploadPreview").src = oFREvent.target.result;
        getContainerImg.className = 'w-full relative'
        removeImg.className = 'absolute h-8 w-8 top-[-12px] right-[-12px] cursor-pointer'
      };
    };

    function onchangeSelect(obj) {
      document.getElementById('deleteCategory').value = obj.value
    }

    function toggle_visibility(id) {
      var e = document.getElementById(id);
      if (e.style.display == "block") e.style.display = "none";
      else e.style.display = "block";
    }
    
    // Select To Cancel
    function toggle_visibility_cancel(id) {
      var e = document.getElementById(id);
      if (e.style.display == "block") e.style.display = "none";
      else e.style.display = "block";
    }
  </script>

  <style>
    [src='#'] {
      display: none;
    }
</style>




