<%- include('../includes/head.ejs') %>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <%- include('../includes/nav.ejs', {
      admin: admin,
      onPage: onPage,
      navigationActive: navigationActive,
      urlNavigation: urlNavigation,
    }) %>
    <div class="container mx-auto my-10">
    <form class="flex flex-wrap items-center justify-between" action="/report-selling/show-graph" method="post">
        <div class="flex flex-wrap items-center gap-10">
          <div class="relative ml-4">
            <select 
              class="w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" 
              id="year"
              name="year"              
            ></select>
          </div>
        </div>
        <div class="flex flex-wrap mb-6 px-2">
          <button class="bg-green-700 text-base w-full font-bold text-white px-4 py-2 rounded-md hover:bg-yellow-300 duration-200" type="submit">
            Apply
          </button>
        </div>
    </form>
      <canvas id="myChart"></canvas>
    </div>
    
    <script>
      var label = "<%= labels %>".split(',');
      var data = "<%= dataGraph %>".split(',').map((items) => Number(items));
      const ctx = document.getElementById('myChart');
      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: label,
          datasets: [{
            label: 'Total Penjualan Bulan Ini ',
            data: data,
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
      const dropdownYear = document.getElementById('year')
      const currentYear = Number("<%= year %>");
      const startYear = currentYear - 4;
      const endYear = currentYear + 3;

      for (i=startYear;i<=endYear;i++) {
        newOption = document.createElement("option");
        newOption.value = i;
        newOption.label = i;
        if (i == currentYear) {
          newOption.selected = true;
        }
        dropdownYear.appendChild(newOption);
      }
    </script>
<%- include('../includes/end.ejs') %>


