<div>
  <h1 class="text-[#636363] font-semibold text-[32px] leading-10 text-center mb-6">All User</h1>
  <div
    class="max-w-2xl mx-4 sm:max-w-sm md:max-w-sm lg:max-w-sm xl:max-w-sm sm:mx-auto md:mx-auto lg:mx-auto xl:mx-auto mt-16 bg-white shadow-xl rounded-lg text-gray-900"
  >
    <div class="rounded-t-lg h-32 overflow-hidden">
      <img
        class="object-cover object-top w-full"
        src="https://images.unsplash.com/photo-1549880338-65ddcdfd017b?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ"
        alt="Mountain"
      />
    </div>
    <div
      class="mx-auto w-32 h-32 relative -mt-16 border-4 border-white rounded-full overflow-hidden"
    >
      <img
        class="object-cover object-center h-32"
        src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ"
        alt="Woman looking front"
      />
    </div>
    <div class="text-center mt-2">
      <h2 class="font-semibold">Sarah Smith</h2>
      <p class="text-gray-500">Freelance Web Designer</p>
    </div>
    <ul class="py-4 mt-2 text-gray-700 flex items-center justify-around">
      <li class="flex flex-col items-center justify-around">
        <svg
          class="w-4 fill-current text-blue-900"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z"
          />
        </svg>
        <div>2k</div>
      </li>
      <li class="flex flex-col items-center justify-between">
        <svg
          class="w-4 fill-current text-blue-900"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
        >
          <path
            d="M7 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm0 1c2.15 0 4.2.4 6.1 1.09L12 16h-1.25L10 20H4l-.75-4H2L.9 10.09A17.93 17.93 0 0 1 7 9zm8.31.17c1.32.18 2.59.48 3.8.92L18 16h-1.25L16 20h-3.96l.37-2h1.25l1.65-8.83zM13 0a4 4 0 1 1-1.33 7.76 5.96 5.96 0 0 0 0-7.52C12.1.1 12.53 0 13 0z"
          />
        </svg>
        <div>10k</div>
      </li>
      <li class="flex flex-col items-center justify-around">
        <svg
          class="w-4 fill-current text-blue-900"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
        >
          <path
            d="M9 12H1v6a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-6h-8v2H9v-2zm0-1H0V5c0-1.1.9-2 2-2h4V2a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v1h4a2 2 0 0 1 2 2v6h-9V9H9v2zm3-8V2H8v1h4z"
          />
        </svg>
        <div>15</div>
      </li>
    </ul>
    <div class="p-4 border-t mx-8 mt-2">
      <button
        class="w-1/2 block mx-auto rounded-full bg-gray-900 hover:shadow-lg font-semibold text-white px-6 py-2"
      >
        Follow
      </button>
    </div>
  </div>
</div>

<!-- Pop Up Success -->
<!-- <main class="fixed z-10 overflow-scroll top-0 w-full left-0 <% if(success){ %>block<% } else{ %>hidden<% } %>">
      <div class="flex items-center justify-center h-max pt-4 px-4 pb-20 text-center sm:block sm:p-0">
        <div class="fixed inset-0 transition-opacity overflow-scroll bg-[#111827c1]">
          <div class="absolute inset-0" />
        </div>
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen">&#8203;</span>
        <div class="inline-block align-center text-left overflow-scroll transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
          <h1 class="p-9 text-center bg-[#6853F0] font-bold text-[32px] text-white rounded-lg">
            <% if (isEdit && success) { %>
              Hooray, Edit item berhasil!
              <% } else { %>
              Hooray, Tambah item berhasil!
            <% } %>
          </h1>
          <div class="flex justify-center items-center mt-5">
            <a href="/admin/list">
              <p class="font-semibold text-lg text-white">Kembali</p>
            </a>
          </div>
        </div>
      </div>
    </main> -->

<!-- pop up Delete Image -->
<!-- <main class="fixed z-10 overflow-scroll top-0 w-full left-0 hidden" id="delete-image">
      <div class="flex items-center justify-center h-max pt-4 px-4 pb-20 text-center sm:block sm:p-0">
        <div class="fixed inset-0 transition-opacity overflow-scroll bg-[#111827c1]">
          <div class="absolute inset-0" />
        </div>
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen">&#8203;</span>
        <div class="inline-block align-center text-left overflow-scroll shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
          <h1 class="p-9 text-center bg-[#6853F0] font-bold text-[32px] text-white rounded-lg">Apa kamu yakin menghapus gambar?</h1>
          <form action="/admin/delete-image" method="post" class="mt-4" id="edit-cart">
            <input 
              class="hidden" 
              id="deleteIdProduct" 
              type="text" 
              name="deleteIdProduct"
              value="<%= item.id || null %>"
            >
            <input 
              class="hidden" 
              id="deleteNameproduct" 
              type="text" 
              name="deleteNameproduct"
              value="<%= item.product || '' %>"
            >
            <input 
              class="hidden" 
              id="deletePrice" 
              type="text" 
              name="deletePrice"
              value="<%= item.price || '' %>"
            >
            <input 
              class="hidden" 
              id="deleteDescription" 
              type="text" 
              name="deleteDescription"
              value="<%= item.description || '' %>"
            >
            <input 
              class="hidden" 
              id="deleteCategory" 
              type="text" 
              name="deleteCategory"
              value="<%= item.category || '' %>"
            >
            <input 
              class="hidden" 
              id="deleteImage" 
              type="text" 
              name="deleteImage"
            >
            <div class="flex justify-between items-center">
              <button type="button" class="py-2 px-4 font-semibold w-32 text-lg bg-[#6853F0] text-white rounded-full hover:bg-blue-700 transition duration-500" onclick="toggle_visibility('delete-image')">Batal</button>
              <button type="submit" class="py-2 px-4 font-semibold w-32 text-lg bg-[#6853F0] text-white rounded-full hover:bg-blue-700 transition duration-500">Hapus</button>
            </div>
          </form>
        </div>
      </div>
    </main> -->

<!-- pop up Cancel -->
<!-- <main class="fixed z-10 overflow-scroll top-0 w-full left-0 hidden" id="cancel">
      <div class="flex items-center justify-center h-max pt-4 px-4 pb-20 text-center sm:block sm:p-0">
        <div class="fixed inset-0 transition-opacity overflow-scroll bg-[#111827c1]">
          <div class="absolute inset-0" />
        </div>
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen">&#8203;</span>
        <div class="inline-block align-center text-left overflow-scroll shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
          <h1 class="p-9 text-center bg-[#6853F0] font-bold text-[32px] text-white rounded-lg">Apa kamu yakin membatalkan tambah item?</h1>
          <div class="flex justify-between items-center mt-5">
            <button type="button" class="py-2 px-4 font-semibold text-lg bg-[#6853F0] text-white rounded-full hover:bg-blue-700 transition duration-500" onclick="toggle_visibility_cancel('cancel')">Batalkan</button>
            <a href="/admin/list">
              <button type="submit" class="py-2 px-4 font-semibold text-lg w-[80px] bg-[#6853F0] text-white rounded-full hover:bg-blue-700 transition duration-500">Ya</button>
            </a>
          </div>
        </div>
      </div>
    </main> -->

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
  integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script>
  function PreviewImage() {
    const getContainerImg = document.getElementById("container-img");
    const removeImg = document.getElementById("removeImg");

    console.log("HELLO =>", "<%= item.id %>");

    document.getElementById("deleteImage").value =
      document?.getElementById("uploadImage")?.files?.[0]?.name;
    document.getElementById("deleteNameproduct").value =
      document?.getElementById("nameproduct")?.value;
    document.getElementById("deletePrice").value =
      document?.getElementById("price")?.value;
    document.getElementById("deleteDescription").value =
      document?.getElementById("description")?.value;

    var oFReader = new FileReader();
    oFReader.readAsDataURL(document.getElementById("uploadImage").files[0]);

    oFReader.onload = function (oFREvent) {
      document.getElementById("uploadPreview").classList = "block";
      document.getElementById("uploadPreview").src = oFREvent.target.result;
      getContainerImg.className = "w-full relative";
      removeImg.className =
        "absolute h-8 w-8 top-[-12px] right-[-12px] cursor-pointer";
    };
  }

  function onchangeSelect(obj) {
    document.getElementById("deleteCategory").value = obj.value;
  }

  function toggle_visibility(id) {
    var e = document.getElementById(id);
    if (e.style.display == "block") e.style.display = "none";
    else e.style.display = "block";
  }

  // Select To Cancel
  function toggle_visibility_cancel(id) {
    var e = document.getElementById(id);
    if (e.style.display == "block") e.style.display = "none";
    else e.style.display = "block";
  }
</script>
