<%- include('./includes/head.ejs') %>
  </head>
  <body>
    <div class="relative min-h-screen md:flex" data-dev-hint="container">
      <input type="checkbox" id="menu-open" class="hidden" />
  
      <label for="menu-open" class="absolute right-2 bottom-2 shadow-lg rounded-full p-2 bg-gray-100 text-gray-600 md:hidden" data-dev-hint="floating action button">
          <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
      </label>
  
      <header class="bg-gray-600 text-gray-100 flex justify-between md:hidden" data-dev-hint="mobile menu bar">
          <a href="#" class="block p-4 text-white font-bold whitespace-nowrap truncate">
              Your App is cool
          </a>
  
          <label for="menu-open" id="mobile-menu-button" class="m-2 p-2 focus:outline-none hover:text-white hover:bg-gray-700 rounded-md">
              <svg id="menu-open-icon" class="h-6 w-6 transition duration-200 ease-in-out" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
              </svg>
              <svg id="menu-close-icon" class="h-6 w-6 transition duration-200 ease-in-out" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
              </svg>
          </label>
      </header>
  
      <aside id="sidebar" class="bg-white text-gray-100 w-[112px] space-y-6 pt-6 px-0 absolute inset-y-0 left-0 transform md:relative md:translate-x-0 transition duration-200 ease-in-out  md:flex md:flex-col md:justify-between overflow-y-auto shadow-lg" data-dev-hint="sidebar; px-0 for frameless; px-2 for visually inset the navigation">
          <div class="flex flex-col space-y-6" data-dev-hint="optional div for having an extra footer navigation">
              <a href="#" class="text-black flex items-center space-x-2 px-4 py-11 justify-center" title="Your App is cool">
                <img src="/assets/icon-app.png" class="absolute w-9" alt="Icon app" />
              </a>
  
              <%- include('./includes/nav.ejs', {
                admin: admin,
                onPage: onPage,
                navigationActive: navigationActive,
                urlNavigation: urlNavigation,
              }) %>
          </div>
  
          <!-- <nav data-dev-hint="second-main-navigation or footer navigation">
              <a href="#" class="block py-2 px-4 transition duration-200 hover:bg-gray-700 hover:text-white">
                  asd
              </a>
              <a href="#" class="block py-2 px-4 transition duration-200 hover:bg-gray-700 hover:text-white">
                  asd
              </a>
              <a href="#" class="block py-2 px-4 transition duration-200 hover:bg-gray-700 hover:text-white">
                  asd
              </a>
          </nav> -->
      </aside>
  
      <main id="content" class="flex-1">
        <div class="flex justify-between items-center bg-[#ffffff70] p-[34px] shadow-lg">
          <div class="flex flex-1 space-x-7">
            <!-- Website Logo -->
            <form
              action=""
              method="post"
              class="items-center gap-8 flex flex-1 md:flex-[0.8]"
            >
            <div class="w-2/3 flex justify-end items-center relative">
              <input
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-1 border-[#C5C5C5] rounded-full py-3 px-10 leading-tight focus:outline-none focus:bg-white"
                id="search"
                type="text"
                name="search"
                placeholder="Search category or menu"
              />
              <img src="/assets/search-icon.png" class="absolute w-5 left-3" alt="Search Icon" />
            </div>
              <button
                type="submit"
                class="bg-[#6853F0] text-lg font-bold text-white py-[14px] px-[80px] rounded-full hover:bg-yellow-300 duration-200"
              >
                Cari
              </button>
            </form>
          </div>
          <!-- Secondary Navbar items -->
          <div class="hidden md:flex items-center gap-[18px] space-x-3">
            <div class="m-1 mr-2 w-12 h-12 relative flex justify-center items-center rounded-full bg-green-500 text-xl text-white uppercase">zxl</div>
            <div>
              <p class="text-[#737373] font-medium text-lg">Welcome, John!</p>
              <p class="text-[#D9D9D9] font-medium text-[12px]">Cashier on bonta Coffee</p>
            </div>
            <form action="/logout" method="post" class="hidden md:block">
              <button
                class="bg-[#6853F0] w-full text-lg font-bold text-white py-[14px] px-[30px] rounded-full hover:bg-yellow-300 duration-200"
              >
                Logout
              </button>
            </form>
          </div>
        </div>
        <div class="max-w-[85rem] flex justify-between">
            <div class="flex-1 flex flex-col gap-2 overflow-hidden bg-[#D9D9D9] py-[34px] pl-[34px]">
              <!-- Filter -->
              <div class="container flex items-center gap-4 overflow-y-scroll no-scrollbar">
                <% if(!emptyFilter){ %>
                  <% filter.forEach(function(item) {%>
                      <form action="<% if(admin){ %>/admin/filter/<%= item.value %><% } else { %>/user/filter/<%= item.value %><% } %>" method="post" class="min-w-[210px]">
                        <div class="hidden">
                          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="filtering">filtering</label>
                          <input 
                            class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" 
                            id="filtering" 
                            type="text" 
                            name="filtering"
                            value="<%= item.value %>"
                          >
                        </div>
                        <button type="submit" class="<% if(item.value === filteringCategory){ %>text-white bg-[#6853F0]<% } else { %>bg-white text-[#CECECE]<% } %> font-bold  w-full py-4 px-10 rounded-full">
                          <%= item.name %>
                        </button>
                      </form>
                  <% }) %>  
                <% } else { %>
                  <div class="group col-span-1 cursor-pointer">
                    <h1>Category Is Empty</h1>
                  </div>
                <% } %>
              </div>
      
              
              <!-- Map Product -->
              <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 pr-[34px]">
                <% prod.forEach(function(item) {%>
                  <div class="w-full bg-white shadow-md p-[10px] rounded-xl duration-500 hover:scale-105 hover:shadow-xl h-fit">
                    <img
                      src="/<%= item.img %>"
                      alt="<%= item.productName %>"
                      class="object-cover rounded-xl h-40 w-full"
                    />
                    <div class="py-3">
                      <p class="text-base font-bold text-[#737373]"><%= item.productName %></p>
                      <p class="text-sm text-[#737373]"><%= item.category %></p>
                      <p class="text-base font-bold text-[#737373]"><%= item.price %></p>
                      <div class="flex items-center justify-between mt-4">
                        <form action="/cart/add-cart/" method="post" class="w-full">
                          <div class="w-full mb-6 md:mb-0 hidden">
                            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="category">Category</label>
                            <input 
                              class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" 
                              id="category" 
                              type="text" 
                              name="category"
                              value="<%= item.category %>"
                            >
                          </div>
                          <div class="w-full mb-6 md:mb-0 hidden">
                            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="price">Price</label>
                            <input 
                              class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" 
                              id="price" 
                              type="text" 
                              name="price"
                              value="<%= item.price %>"
                            >
                          </div>
                          <div class="w-full mb-6 md:mb-0 hidden">
                            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="productName">Product Name</label>
                            <input 
                              class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" 
                              id="productName" 
                              type="text" 
                              name="productName"
                              value="<%= item.productName %>"
                            >
                          </div>
                          <div class="w-full mb-6 md:mb-0 hidden">
                            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="id">ID</label>
                            <input 
                              class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" 
                              id="id" 
                              type="number" 
                              name="id"
                              value="<%= item.id %>"
                            >
                          </div>
                          <div class="w-full mb-6 md:mb-0 hidden">
                            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="img">img</label>
                            <input 
                              class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" 
                              id="img" 
                              type="text" 
                              name="img"
                              value="<%= item.img %>"
                            >
                          </div>
                          <div class="w-full mb-6 md:mb-0">
                            <label class="block tracking-wide text-[#CECECE] text-sm font-bold" for="count">masukan jumlah</label>
                            <input 
                              class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" 
                              id="count" 
                              type="number" 
                              name="count"
                            >
                          </div>
                          <div class="py-3 w-full">
                            <button class="bg-[#6853F0] w-full text-xs font-bold text-white py-4 rounded-md hover:bg-yellow-300 duration-200">Masukan Keranjang</button>
                          </div>
                        </form>
                      </div>
                      <% if(admin){ %>
                      <div class="flex items-center justify-between">
                        <a href="/admin/edit-product/<%= item.id %>" class="btn">
                          <button
                            class="bg-red-700 w-full text-base font-bold text-white px-4 py-2 rounded-md hover:bg-green-300 duration-200"
                            type="submit"
                          >
                            Edit
                          </button>
                        </a>
                        <form action="/admin/delete-product" method="POST">
                          <input type="text" hidden value="<%= item.id %>" name="id" />
                          <button
                            class="bg-red-700 text-base font-bold text-white px-4 py-2 rounded-md hover:bg-green-300 duration-200"
                            type="submit"
                          >
                            Delete
                          </button>
                        </form>
                      </div>
                      <% } %>
                    </div>
                  </div>
                <% }) %>
              </div>
            </div>
            
            <div class="container mx-auto flex-[0.4] overflow-scroll flex flex-col relative">  
              <p class="text-[#737373] text-2xl font-semibold mb-6 px-8 mt-8">Jumlah Orderan :</p>
              <ul class="px-8">  
                <% cart.forEach(function(item, index) {%>
                  <li class="flex bg-white gap-8 rounded-lg mb-5 relative">
                    <div class="flex flex-1 gap-4">
                      <img
                        src="/<%= item.img %>"
                        alt="<%= item.productName %>"
                        class="object-cover rounded-xl w-20 h-20"
                      />
                      <div class="flex flex-col justify-evenly">
                        <p class="title font-medium text-sm text-[#737373] md:text-lg"><%= item.productName %></p>
                        <p class="title font-medium text-sm text-[#737373] md:text-lg"><%= item.count %>x</p>
                      </div>
                    </div>
                    <div class="flex flex-col items-center justify-end flex-[0.4] mb-2">
                      <p class="text-[#6853F0] font-medium text-base mt-5 md:mt-0"><%= item.totalPrice %></p>
                    </div>

                    <!-- Delete Icon -->
                    <div
                    class="w-8 h-8 flex justify-center items-center rounded-full bg-[#ff0f0f] absolute -top-[10px] -left-4 cursor-pointer"
                    onclick="toggle_visibility_delete_cart('delete-cart', '<%= item.id %>', '<%= item.productName %>', '<%= item.price %>', '<%= item.count %>', '<%= item.userId %>', '<%= item.userName %>', '<%= item.category %>')"
                  >
                    <img
                      src="/assets/trash-icon.png"
                      class="w-4 fill-white"
                      alt="list Icon"
                    />
                  </div>
                    
                    
      
                    <!-- <div class="flex justify-end gap-4">
                      <button class="bg-green-700 text-base font-bold text-white p-2 rounded-md hover:bg-yellow-300 duration-200" onclick="toggle_visibility_edit_cart('edit-popup', '<%= item.id %>', '<%= item.productName %>', '<%= item.price %>', '<%= item.count %>', '<%= item.userId %>', '<%= item.userName %>', '<%= item.category %>')">Edit Item</button>
                      <form action="/cart/delete-cart/<%= item.id %>/<%= item.userId %>/<%= item.userName %>" method="post">
                        <button class="bg-green-700 text-base font-bold text-white p-2 rounded-md hover:bg-yellow-300 duration-200">Delete Item</button>
                      </form>
                    </div> -->
                  </li>  
                <% }) %>
              </ul>
      
              <div class="fixed bottom-0 w-[27%] mb-8 bg-white z-10 px-8">
                <div class="flex flex-col gap-4 border-t border-[#D9D9D9]">
                  <div class="flex justify-between items-center mt-4">
                    <p class="font-semibold text-2xl text-[#737373]">Total: </p>
                    <p class="font-semibold text-2xl text-[#737373]"><%= totalInvoice %></p>
                  </div>
                  <div class="flex justify-between items-center gap-10 mt-4">
                    <button 
                      type="submit"
                      class="bg-[#D9D9D9] w-full text-lg font-bold text-white py-2 rounded-full hover:bg-yellow-300 duration-200"
                      onclick="toggle_visibility_invoice('invoice')"
                    >Custom Nota</button>
                    <button 
                      type="submit"
                      class="bg-[#6853F0] w-full text-lg font-bold text-white py-2 rounded-full hover:bg-yellow-300 duration-200"
                      onclick="toggle_visibility_invoice('invoice')"
                    >Print Nota</button>
                </div>
              </div>
            </div>
          </div>
      </main>
    </div>
  </div>

    
    
    
  <main class="fixed z-10 overflow-y-auto top-0 w-full left-0 hidden" id="contact-popup">
      <div class="flex items-center justify-center min-height-100vh pt-4 px-4 pb-20 text-center sm:block sm:p-0">
        <div class="fixed inset-0 transition-opacity">
          <div class="absolute inset-0 bg-gray-900 opacity-75" />
        </div>
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen">&#8203;</span>
        <div class="inline-block align-center bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
          <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
            <label class="font-medium text-gray-800">Name</label>
            <input type="text" class="w-full outline-none rounded bg-gray-100 p-2 mt-2 mb-3" />
            <label class="font-medium text-gray-800">Url</label>
            <input type="text" class="w-full outline-none rounded bg-gray-100 p-2 mt-2 mb-3" />
          </div>
          <div class="bg-gray-200 px-4 py-3 text-right">
            <button type="button" class="py-2 px-4 bg-gray-500 text-white rounded hover:bg-gray-700 mr-2" onclick="toggle_visibility('contact-popup')"><i class="fas fa-times"></i> Cancel</button>
            <button type="button" class="py-2 px-4 bg-blue-500 text-white rounded font-medium hover:bg-blue-700 mr-2 transition duration-500"><i class="fas fa-plus"></i> Create</button>
          </div>
        </div>
      </div>
  </main>


  <main class="fixed z-10 overflow-y-auto top-0 w-full left-0 hidden" id="edit-popup">
      <div class="flex items-center justify-center min-height-100vh pt-4 px-4 pb-20 text-center sm:block sm:p-0">
        <div class="fixed inset-0 transition-opacity">
          <div class="absolute inset-0 bg-gray-900 opacity-75" />
        </div>
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen">&#8203;</span>
        <div class="inline-block align-center bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
          <form action="/cart/edit-cart" method="post" class="p-4" id="edit-cart">
            <div class="w-full mb-6 md:mb-0 hidden">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="idEditCart">id</label>
              <input 
                class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" 
                id="idEditCart" 
                type="text" 
                name="idEditCart"
              >
            </div>
            <div class="w-full mb-6 md:mb-0 hidden">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="productNameCart">productNameCart</label>
              <input 
                class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" 
                id="productNameCart" 
                type="text" 
                name="productNameCart"
                value=""
              >
            </div>
            <div class="w-full mb-6 md:mb-0 hidden">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="priceCart">priceCart</label>
              <input 
                class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" 
                id="priceCart" 
                type="text" 
                name="priceCart"
                value=""
              >
            </div>
            <div class="w-full mb-6 md:mb-0 hidden">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="countCart">countCart</label>
              <input 
                class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" 
                id="countCart" 
                type="number" 
                name="countCart"
                value=""
              >
            </div>
            <div class="w-full mb-6 md:mb-0 hidden">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="getUserId">getUserId</label>
              <input 
                class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" 
                id="getUserId" 
                type="number" 
                name="getUserId"
                value=""
              >
            </div>
            <div class="w-full mb-6 md:mb-0 hidden">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="getUserName">getUserName</label>
              <input 
                class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" 
                id="getUserName" 
                type="text" 
                name="getUserName"
                value=""
              >
            </div>
            <div class="w-full mb-6 md:mb-0 hidden">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="getCategory">getCategory</label>
              <input 
                class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" 
                id="getCategory" 
                type="text" 
                name="getCategory"
                value=""
              >
            </div>
            <div class="w-full mb-6 md:mb-0">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="countNewCart">Banyak Jumlah</label>
              <input 
                class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" 
                id="countNewCart" 
                type="number" 
                name="countNewCart"
              >
            </div>
            <div class="text-right">
              <button type="button" class="py-2 px-4 bg-gray-500 text-white rounded hover:bg-gray-700 mr-2" onclick="toggle_visibility_edit_cart('edit-popup')"><i class="fas fa-times"></i> Cancel</button>
              <button type="submit" class="py-2 px-4 bg-blue-500 text-white rounded font-medium hover:bg-blue-700 transition duration-500"><i class="fas fa-plus"></i> Edit</button>
            </div>
          </form>
        </div>
      </div>
  </main>


    <!-- Pop Up Invoice -->
  <main class="fixed z-10 overflow-scroll top-0 w-full left-0 hidden" id="invoice">
      <div class="flex items-center justify-center h-max pt-4 px-4 pb-20 text-center sm:block sm:p-0">
        <div class="fixed inset-0 transition-opacity overflow-scroll bg-[#111827c1]">
          <div class="absolute inset-0" />
        </div>
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen">&#8203;</span>
        <div class="inline-block align-center rounded-lg text-left overflow-scroll shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
          <div class="w-full bg-white" id="htmlContent">
            <%- include('./invoice.ejs', {
              checkout: checkout,
              invoiceDate: invoiceDate,
              totalInvoice: totalInvoice,
              auth: auth
            }) %>
          </div>
          

          <div class="text-right flex items-center justify-between">
            <button type="submit" class="py-2 px-4 bg-gray-500 text-white rounded hover:bg-gray-700 mr-2" onclick="toggle_visibility_invoice('invoice')"><i class="fas fa-times"></i> Close</button>
            <button 
              class="bg-green-700 text-base font-bold text-white px-4 py-2 rounded-md hover:bg-yellow-300 duration-200 my-4"
              id="generatePDF">
              Cetak Invoice
            </button>
            </button>
          </div>
        </div>
      </div>
  </main>



    <!-- Notification Succes -->
  <main class="fixed z-10 overflow-scroll top-0 w-full left-0 hidden" id="notification">
      <div class="flex items-center justify-center h-max pt-4 px-4 pb-20 text-center sm:block sm:p-0">
        <div class="fixed inset-0 transition-opacity overflow-scroll bg-[#111827c1]">
          <div class="absolute inset-0" />
        </div>
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen">&#8203;</span>
        <div class="inline-block align-center bg-white rounded-lg text-left overflow-scroll shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
          <h1 class="p-10 text-center">Success Payment</h1>
          <form action="/cart/invoice" method="post" id="invoiceForm">
            <div class="w-full mb-6 md:mb-0 hidden">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="auth">auth</label>
              <input 
                class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" 
                id="auth" 
                type="text" 
                name="auth"
                value="<%= auth %>"
              >
            </div>
            <div class="w-full mb-6 md:mb-0 hidden">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="invoiceProduct">invoiceProduct</label>
              <input 
                class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" 
                id="invoiceProduct" 
                type="text" 
                name="invoiceProduct"
                value="<%= invoiceProduct %>"
              >
            </div>
            <button class="bg-green-700 text-base font-bold w-full text-white px-4 py-2 rounded-md hover:bg-yellow-300 duration-200"
              type="submit">
              Close
            </button>
          </form>
        </div>
      </div>
  </main>


  <!-- pop up delete -->
  <main class="fixed z-10 overflow-scroll top-0 w-full left-0 hidden" id="delete-cart">
    <div class="flex items-center justify-center h-max pt-4 px-4 pb-20 text-center sm:block sm:p-0">
      <div class="fixed inset-0 transition-opacity overflow-scroll bg-[#111827c1]">
        <div class="absolute inset-0" />
      </div>
      <span class="hidden sm:inline-block sm:align-middle sm:h-screen">&#8203;</span>
      <div class="inline-block align-center bg-white rounded-lg text-left overflow-scroll shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
        <h1 class="p-10 text-center">Apa kamu yakin ingin mendelete di dalam list ?</h1>
        <form action="/cart/delete-cart" method="post" class="p-4" id="delete-cart">
          <div class="w-full mb-6 md:mb-0 hidden">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="idDeleteCart">id</label>
            <input 
              class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" 
              id="idDeleteCart" 
              type="text" 
              name="idDeleteCart"
            >
          </div>
          <div class="w-full mb-6 md:mb-0 hidden">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="productNameCart">productNameCart</label>
            <input 
              class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" 
              id="deleteproductNameCart" 
              type="text" 
              name="productNameCart"
              value=""
            >
          </div>
          <div class="w-full mb-6 md:mb-0 hidden">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="deletePriceCart">deletePriceCart</label>
            <input 
              class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" 
              id="deletePriceCart" 
              type="text" 
              name="deletePriceCart"
              value=""
            >
          </div>
          <div class="w-full mb-6 md:mb-0 hidden">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="deleteCountCart">deleteCountCart</label>
            <input 
              class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" 
              id="deleteCountCart" 
              type="number" 
              name="deleteCountCart"
              value=""
            >
          </div>
          <div class="w-full mb-6 md:mb-0 hidden">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="deleteGetUserId">deleteGetUserId</label>
            <input 
              class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" 
              id="deleteGetUserId" 
              type="number" 
              name="deleteGetUserId"
              value=""
            >
          </div>
          <div class="w-full mb-6 md:mb-0 hidden">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="deleteGetUserName">deleteGetUserName</label>
            <input 
              class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" 
              id="deleteGetUserName" 
              type="text" 
              name="deleteGetUserName"
              value=""
            >
          </div>
          <div class="w-full mb-6 md:mb-0 hidden">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="deleteGetCategory">deleteGetCategory</label>
            <input 
              class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" 
              id="deleteGetCategory" 
              type="text" 
              name="deleteGetCategory"
              value=""
            >
          </div>
          <div class="text-right">
            <button type="button" class="py-2 px-4 bg-gray-500 text-white rounded hover:bg-gray-700 mr-2" onclick="toggle_visibility_delete_cart('delete-cart')"><i class="fas fa-times"></i> Cancel</button>
            <button type="submit" class="py-2 px-4 bg-blue-500 text-white rounded font-medium hover:bg-blue-700 transition duration-500"><i class="fas fa-plus"></i> Delete</button>
          </div>
        </form>
      </div>
    </div>
</main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    function toggle_visibility(id) {
      var e = document.getElementById(id);
      if (e.style.display == "block") e.style.display = "none";
      else e.style.display = "block";
    }

    // Edit Cart
    function toggle_visibility_edit_cart(id, idCart ,productName, price, count, getUserId, getUserName, getCategory) {
      var e = document.getElementById(id);
      document.getElementById('idEditCart').value = idCart
      document.getElementById('productNameCart').value = productName
      document.getElementById('priceCart').value = price
      document.getElementById('countCart').value = count
      document.getElementById('getUserId').value = getUserId
      document.getElementById('getUserName').value = getUserName
      document.getElementById('getCategory').value = getCategory   
      if (e.style.display == "block") e.style.display = "none";
      else e.style.display = "block";
    }
    
    // Select To Invoice
    function toggle_visibility_invoice(id) {
      var e = document.getElementById(id);
      if (e.style.display == "block") e.style.display = "none";
      else e.style.display = "block";
    }
    
    // Select To Delete Cart
    function toggle_visibility_delete_cart(id, idCart ,productName, price, count, getUserId, getUserName, getCategory) {
      var e = document.getElementById(id);
      let formEditCart = document.getElementById('delete-cart')
      document.getElementById('idDeleteCart').value = idCart
      document.getElementById('deleteproductNameCart').value = productName
      document.getElementById('deletePriceCart').value = price
      document.getElementById('deleteCountCart').value = count
      document.getElementById('deleteGetUserId').value = getUserId
      document.getElementById('deleteGetUserName').value = getUserName
      document.getElementById('deleteGetCategory').value = getCategory   
      if (e.style.display == "block") e.style.display = "none";
      else e.style.display = "block";
    }
      
      
    let btnGeneratePdf = document.getElementById("generatePDF");
    const element = document.getElementById('htmlContent');
    const getFormInvoice = document.getElementById('invoiceForm');
      
    const opt = {
      margin: 0, //top, left, buttom, right
      // filename: 'filename' + '.pdf',
      filename:     'myfile.pdf',
      image: { type: 'jpeg', quality: 0.98 },
      html2canvas:  { scale: 2, logging: true, dpi: 192, letterRendering: true, scrollY: 0 },
      jsPDF: { unit: 'mm', format: 'tabloid', orientation: 'portrait'},
    };
      
    btnGeneratePdf.addEventListener("click", function(){
      const datasBaru = html2pdf().set(opt).from(element).save('filename.pdf')
      console.log('DATAS BARU =>', datasBaru);
      var e = document.getElementById('notification');
      e.style.display = "block";
      toggle_visibility_invoice('invoice')
    });  
  </script>
<%- include('./includes/end.ejs') %>
