<%- include('./includes/head.ejs') %>
  </head>
  <body>
    <%- include('./includes/nav.ejs', {
      admin: admin,
      onPage: onPage,
      navigationActive: navigationActive,
      urlNavigation: urlNavigation,
    }) %>
    <main class="flex justify-between px-4 gap-10 h-screen my-10">
      <div class="container mx-auto grid flex-1 grid-cols-2 md:grid-cols-4 lg:grid-cols-4 gap-4 border border-slate-700 p-4 overflow-scroll">
        <!-- Filter -->

        <!-- Map Product -->
        <% prod.forEach(function(item) {%>
          <div class="w-full bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl h-fit">
            <img
              src="/<%= item.img %>"
              alt="<%= item.productName %>"
              class="object-cover rounded-t-xl"
            />

            <div class="px-4 py-3">
              <span class="text-gray-400 mr-3 uppercase text-xs"
                ><%= item.category %></span
              >
              <p class="text-lg font-bold text-black truncate block capitalize">
                <%= item.productName %>
              </p>
              <p class="text-lg font-semibold text-black cursor-auto">
                Rp. <%= item.price %>
              </p>
              <div class="flex items-center justify-between my-4">
                <form action="/cart/add-cart/" method="post">
                  <div class="w-full mb-6 md:mb-0 hidden">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="category">Category</label>
                    <input 
                      class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" 
                      id="category" 
                      type="text" 
                      name="category"
                      value="<%= item.category %>"
                    >
                  </div>
                  <div class="w-full mb-6 md:mb-0 hidden">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="price">Price</label>
                    <input 
                      class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" 
                      id="price" 
                      type="text" 
                      name="price"
                      value="<%= item.price %>"
                    >
                  </div>
                  <div class="w-full mb-6 md:mb-0 hidden">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="productName">Product Name</label>
                    <input 
                      class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" 
                      id="productName" 
                      type="text" 
                      name="productName"
                      value="<%= item.productName %>"
                    >
                  </div>
                  <div class="w-full mb-6 md:mb-0 hidden">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="id">ID</label>
                    <input 
                      class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" 
                      id="id" 
                      type="number" 
                      name="id"
                      value="<%= item.id %>"
                    >
                  </div>
                  <div class="w-full mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="count">Banyak Jumlah</label>
                    <input 
                      class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" 
                      id="count" 
                      type="number" 
                      name="count"
                    >
                  </div>
                  <div class="py-3 w-full">
                    <button class="bg-green-700 w-full text-base font-bold text-white px-4 py-2 rounded-md hover:bg-yellow-300 duration-200">Add Cart</button>
                  </div>
                </form>

                
              </div>
              <% if(admin){ %>
              <div class="flex items-center justify-between my-4">
                <a href="/admin/edit-product/<%= item.id %>" class="btn">
                  <button
                    class="bg-red-700 w-full text-base font-bold text-white px-4 py-2 rounded-md hover:bg-green-300 duration-200"
                    type="submit"
                  >
                    Edit
                  </button>
                </a>
                <form action="/admin/delete-product" method="POST">
                  <input type="text" hidden value="<%= item.id %>" name="id" />
                  <button
                    class="bg-red-700 text-base font-bold text-white px-4 py-2 rounded-md hover:bg-green-300 duration-200"
                    type="submit"
                  >
                    Delete
                  </button>
                </form>
              </div>
              <% } %>
            </div>
          </div>
        <% }) %>
      </div>
      <div class="container mx-auto grid gap-4 flex-[0.5] border border-slate-700 overflow-scroll">
        <ul class="p-8">  
          <% cart.forEach(function(item, index) {%>
            <li class="flex bg-white p-5 rounded-lg shadow-lg mb-5">
              <div class="flex-grow flex flex-col md:flex-row items-center justify-center md:justify-between">
                <p class="title font-semibold text-sm md:text-lg mb-5 md:mb-0 md:pl-5"><%= index + 1 %></p>
                <p class="title font-semibold text-sm md:text-lg mb-5 md:mb-0 md:pl-5"><%= item.productName %></p>
              </div>
              <div class="flex-grow flex flex-col md:flex-row items-center justify-center md:justify-between">
                <p class="title font-semibold text-sm md:text-lg mb-5 md:mb-0 md:pl-5"><%= item.price %> x <%= item.count %></p>
                <p class="value font-bold text-sm mt-5 md:mt-0">Total: Rp. <%= item.totalPrice %></p>
              </div>
            </li>  
          <% }) %>
        </ul>
      </div>
    </main>
    <footer class="fixed z-10 overflow-y-auto top-0 w-full left-0 hidden" id="contact-popup">
      <div class="flex items-center justify-center min-height-100vh pt-4 px-4 pb-20 text-center sm:block sm:p-0">
        <div class="fixed inset-0 transition-opacity">
          <div class="absolute inset-0 bg-gray-900 opacity-75" />
        </div>
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen">&#8203;</span>
        <div class="inline-block align-center bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
          <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
            <label class="font-medium text-gray-800">Name</label>
            <input type="text" class="w-full outline-none rounded bg-gray-100 p-2 mt-2 mb-3" />
            <label class="font-medium text-gray-800">Url</label>
            <input type="text" class="w-full outline-none rounded bg-gray-100 p-2 mt-2 mb-3" />
          </div>
          <div class="bg-gray-200 px-4 py-3 text-right">
            <button type="button" class="py-2 px-4 bg-gray-500 text-white rounded hover:bg-gray-700 mr-2" onclick="toggle_visibility('contact-popup')"><i class="fas fa-times"></i> Cancel</button>
            <button type="button" class="py-2 px-4 bg-blue-500 text-white rounded font-medium hover:bg-blue-700 mr-2 transition duration-500"><i class="fas fa-plus"></i> Create</button>
          </div>
        </div>
      </div>
    </footer>

    <script>
      function toggle_visibility(id) {
         var e = document.getElementById(id);
 
         if (e.style.display == "block") e.style.display = "none";
         else e.style.display = "block";
       }

     
     </script>
<%- include('./includes/end.ejs') %>
